* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
button:hover,
button:active,
button:focus {
  border: none;
  appearance: none;
  outline: none;
}
body {
  background-color: #fff;
  color: #383838;
  font-family: sans-serif;
}
.main {
  min-height: 100vh;
}
.centered {
  text-align: center;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-50 {
  margin-bottom: 50px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.example {
  display: flex;
  flex-wrap: nowrap;
}
.flex-row {
  display: flex;
  flex-wrap: nowrap;
  button {
    margin: 0 20px;
  }
}
.example-code {
  background-color: #2d2a2e;
  border: 1px solid #403e41;
  color: #fcfcfc;
  border-radius: 5px;
  padding: 20px;
  flex: 0 0 50%;
  width: 50%;
  position: relative;
  min-height: 265px;
  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
.example-item {
  flex: 0 0 50%;
  width: 50%;
  padding-right: 30px;
}
button {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
}
button,
button:hover,
button:focus,
button:active {
  border: 1px solid #363636;
  box-shadow: none;
  border-radius: 3px;
  outline: none;
}
button.active {
  background-color: #fff;
}
[data-default-state="closed"] {
  display: none;
}
.top-section {
  padding: 60px 30px 0;
}
