body {
  background-color: #ddd;
}
.centered {
  text-align: center;
}
.mb-20 {
  margin-bottom: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.example-code {
  background-color: #eee;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
}